.price {
    font-size: 1rem;
    display: block;
    margin-top: -5px;
    margin-bottom: 5px;
}
.sprice {
    font-size: 0.8rem;
    font-style: italic;
}
.label {
    display: inline-block;
    width: 50%;
    max-width: 165px;
    padding: 5px;
    background-color: gainsboro;
    border: 1px solid white;
    text-align: left;
    border-radius: 5px;
}
.moneyAlign {
    text-align: left;
} 
.money {
    display: inline-block;
    width: 50%;
    max-width: 165px;
    padding: 5px;
    background-color: #eaeaea;
    border: 1px solid white;
    text-align: right;
    border-radius: 5px;
}
.form {
    width: 50%;
}

@media (max-width: 600px) {
    .moneyAlign {
        text-align: center;
    }    
    .form {
        width: 100%;
    }
}