.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    background-color: gainsboro;
    margin-left: 10px;
}

.marginLeft {
    margin-left: 20px;
}

.pcs {
    color: #FFF;
}

.rightAlign {
    text-align: right;
    width: 100%;
}