.box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}
.material-icons{
  font-size: 2.4em;
  cursor: pointer;
}
.card{
  width: 300px;
  margin: .5rem auto 1rem auto;
}
.card .card-image .card-title{
  color: black;
  font-weight: 400
}
.cart{
  margin-top:40px;
}
.collection .collection-item{
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
  
}
.collection .collection-item img{
  width: 150px;
  height: 175px;
  margin-right: 25px;
}
.item-img {
  margin: 0 0 0 10px;
  padding-left: 10px;
}
.item-desc{
  align-self:center;
}
.card .card-image .card-title {
  width: 100%;
  background-color: rgba(255,255,255,0.5);
}
.card .card-image {
  min-height: 300px;
}
.cart .collection .collection-item {
  flex-wrap: wrap;
}
.collection .collection-item.avatar {
  padding-left: 0;
}

.select-wrapper input.select-dropdown {
  line-height: unset;
  font-size: 14px;
  margin: 0 0 8px 0;
  padding: 0 0 0 5px;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #ee6e73;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #ee6e73;
}

.formbutton {
  margin-bottom: 15px;
}

@media (max-width: 418px) {
  .item-img {
    margin: 0 auto;
    padding-left: 50px;
  }
  .item-desc {
    margin: 0 auto;
    padding-left: 30px;
  }
}
@media (max-width: 440px) {
  nav .brand-logo {
    display: none;
  }
}
@media (min-width: 600px) {
  .cart-ico-fix {
    height:64px !important;
    line-height: 64px !important;
  }
}